<div role="tabpanel">
	<ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
		<li role="presentation" class="t3js-tabmenu-item  active">
			<a href="#chart1-tab-0" title="" aria-controls="tab-0" role="tab" data-toggle="tab">
				All
			</a>
		</li>
		<f:for each="{calendars}" as="calendar" iteration="i">
			<li role="presentation" class="t3js-tabmenu-item">
				<a href="#chart1-tab-{i.cycle}" title="{calendar.name}" aria-controls="tab-{i.cycle}" role="tab" data-toggle="tab">
					{calendar.name}
				</a>
			</li>
		</f:for>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="chart1-tab-0">
			<div class="panel panel-tab">
				<div class="panel-body">

					<div class="chart1-canvas" style="height:200px; display:flex; justify-content: center; align-items: center;"></div>

					<div class="btn-group">
						<a href="#" class="btn btn-default">
							<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-left"
									data-identifier="actions-move-left">
								<span class="icon-markup">
									<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-move-left.svg"
											width="16"
											height="16"/>
								</span>
							</span>
						</a>
						<a href="#" id="chart1-tab-0-button" data-charts-uri="{chartsUri}" class="btn btn-default">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-edit-pick-date"
								data-identifier="actions-edit-pick-date">
							<span class="icon-markup">
								<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-edit-pick-date.svg"
										width="16"
										height="16"/>
							</span>
						</span>
						2018
						</a>
						<a href="#" class="btn btn-default">
							<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-right"
									data-identifier="actions-move-right">
								<span class="icon-markup">
									<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-move-right.svg"
											width="16"
											height="16"/>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<f:for each="{calendars}" as="calendar" iteration="i">
			<div role="tabpanel" class="tab-pane" id="chart1-tab-{i.cycle}">
				<div class="panel panel-tab">
					<div class="panel-body">
						{i.cycle} content
					</div>
				</div>
			</div>
		</f:for>
	</div>
</div>
