parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:setConfiguration\\(\\)\\.$#"
			count: 4
			path: Classes/Controller/ApiController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:setVariablesToRender\\(\\)\\.$#"
			count: 5
			path: Classes/Controller/ApiController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Frontend\\\\Authentication\\\\FrontendUserAuthentication\\:\\:fetchUserRecord\\(\\)\\.$#"
			count: 2
			path: Classes/Controller/ApiController.php

		-
			message: "#^PHPDoc tag @return with type string\\|void is incompatible with native type Psr\\\\Http\\\\Message\\\\ResponseInterface\\.$#"
			count: 1
			path: Classes/Controller/ApiController.php

		-
			message: "#^PHPDoc tag @throws with type TYPO3\\\\CMS\\\\Core\\\\Crypto\\\\PasswordHashing\\\\InvalidPasswordHashException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\StopActionException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\UnsupportedRequestTypeException is not subtype of Throwable$#"
			count: 1
			path: Classes/Controller/ApiController.php

		-
			message: "#^PHPDoc tag @throws with type TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\StopActionException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\UnsupportedRequestTypeException is not subtype of Throwable$#"
			count: 2
			path: Classes/Controller/ApiController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:setTemplate\\(\\)\\.$#"
			count: 2
			path: Classes/Controller/CalendarController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\Argument\\:\\:setDataType\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/EntryController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request\\:\\:getReferringRequest\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/EntryController.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:setTemplate\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/EntryController.php

		-
			message: "#^PHPDoc tag @return with type string\\|void is incompatible with native type Psr\\\\Http\\\\Message\\\\ResponseInterface\\.$#"
			count: 1
			path: Classes/Controller/EntryController.php

		-
			message: "#^PHPDoc tag @throws with type Exception\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\UnsupportedRequestTypeException is not subtype of Throwable$#"
			count: 1
			path: Classes/Controller/EntryController.php

		-
			message: "#^PHPDoc tag @throws with type TYPO3\\\\CMS\\\\Core\\\\Cache\\\\Exception\\\\NoSuchCacheException\\|TYPO3\\\\CMS\\\\Extbase\\\\Configuration\\\\Exception\\\\InvalidConfigurationTypeException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\StopActionException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\UnsupportedRequestTypeException\\|TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Exception\\\\IllegalObjectTypeException is not subtype of Throwable$#"
			count: 1
			path: Classes/Controller/EntryController.php

		-
			message: "#^PHPDoc tag @throws with type TYPO3\\\\CMS\\\\Core\\\\Cache\\\\Exception\\\\NoSuchCacheException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\NoSuchArgumentException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\StopActionException\\|TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\UnsupportedRequestTypeException\\|TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Exception\\\\IllegalObjectTypeException is not subtype of Throwable$#"
			count: 1
			path: Classes/Controller/EntryController.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$NotificationToRemove$#"
			count: 1
			path: Classes/Domain/Model/Calendar.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$recursive\\)\\: Unexpected token \"\\$recursive\", expected type at offset 18$#"
			count: 1
			path: Classes/Domain/Model/Dto/AdministrationDemand.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$sortingDirection\\)\\: Unexpected token \"\\$sortingDirection\", expected type at offset 18$#"
			count: 1
			path: Classes/Domain/Model/Dto/AdministrationDemand.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$sortingField\\)\\: Unexpected token \"\\$sortingField\", expected type at offset 18$#"
			count: 1
			path: Classes/Domain/Model/Dto/AdministrationDemand.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\\\DateTime\\)\\: Unexpected token \"\\\\n     \\* \", expected variable at offset 27$#"
			count: 1
			path: Classes/Domain/Model/Dto/DateConf.php

		-
			message: "#^Cannot call method count\\(\\) on array\\|float\\|int\\|string\\|false\\.$#"
			count: 1
			path: Classes/Domain/Repository/BlockslotRepository.php

		-
			message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:matching\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$feUserId\\)\\: Unexpected token \"\\$feUserId\", expected type at offset 18$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:statement\\(\\)\\.$#"
			count: 1
			path: Classes/Domain/Repository/TimeslotRepository.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int\\)\\: Unexpected token \"\\\\n     \\* \", expected variable at offset 21$#"
			count: 1
			path: Classes/Domain/Repository/TimeslotRepository.php

		-
			message: "#^Property Blueways\\\\BwBookingmanager\\\\Helper\\\\NotificationManager\\:\\:\\$senderUtility has unknown class Blueways\\\\BwEmail\\\\Utility\\\\SenderUtility as its type\\.$#"
			count: 1
			path: Classes/Helper/NotificationManager.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$entries\\)\\: Unexpected token \"\\$entries\", expected type at offset 18$#"
			count: 2
			path: Classes/Helper/RenderConfiguration.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$timeslots\\)\\: Unexpected token \"\\$timeslots\", expected type at offset 18$#"
			count: 1
			path: Classes/Helper/RenderConfiguration.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$returnOffsets$#"
			count: 1
			path: Classes/Helper/RenderConfiguration.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$timeslots\\)\\: Unexpected token \"\\$timeslots\", expected type at offset 44$#"
			count: 1
			path: Classes/Helper/TimeslotManager.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$dayOfWeek$#"
			count: 1
			path: Classes/Helper/TimeslotManager.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: Classes/Hooks/NotificationSpecial1IsCheckedHook.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: Classes/Hooks/NotificationSpecial2IsCheckedHook.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: Classes/Hooks/TimeslotIsBookableHook.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Scheduler\\\\Task\\\\AbstractTask\\:\\:\\$numberOfDays\\.$#"
			count: 2
			path: Classes/Task/RecycleEntriesAdditionalFieldProvider.php

		-
			message: "#^Cannot call method count\\(\\) on array\\.$#"
			count: 1
			path: Classes/Utility/FullCalendarUtility.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$dataType\\)\\: Unexpected token \"\\$dataType\", expected type at offset 133$#"
			count: 1
			path: Classes/Xclass/Extbase/Mvc/Controller/Argument.php

