includes:
    - phpstan-baseline.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 5

    level: 1

    bootstrapFiles:
        - vendor/autoload.php

    scanFiles:
        - ext_localconf.php

    paths:
        - Classes

    excludePaths:
