.backendCalendar {
    height: calc(100vh - 113px);
}

#calendar + #loading {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 35px);
    height: 60px;
    width: 70px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    justify-content: center;
    align-content: center;
    z-index: 1;
    box-shadow: 0 0 10px rgba(#000, 0.1);
    display: none;
}

.tippy-content {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
}
