<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">


<f:section name="Main">
	<link rel="stylesheet" href="{css}" type="text/css" />
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<h2>Calendars</h2>
				<ul class="list-group">
					<f:for each="{calendars}" as="c" iteration="i">
						<a data-calendar-uid="{c.calendar.uid}" class="list-group-item {f:if(condition:'{c.calendar.uid}=={currentCalendar}', then:'active')}" href="#calendar-tab-{c.calendar.uid}">{c.calendar.name}</a>
					</f:for>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6">
				<f:for each="{calendars}" as="c" iteration="i">

					<div id="calendar-tab-{c.calendar.uid}" class="calendar-tab {f:if(condition:'{c.calendar.uid}=={currentCalendar}', then:'active')}">

						<div class="calendar-view calendar-view--month active">

							<div class="bw_bookingmanager__calendarMonth__header">
								<div class="grid-x">
									<div class="cell shrink text-right">
										<h2><a href="{c.monthView.prevMonth}" class="modal-reload"
												title="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.prevMonth')}"><i
												class="fa fa-chevron-left"></i></a></h2>
									</div>
									<div class="text-center auto cell">
										<h2 class="text-center">
										{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.monthNames.{f:format.date(date:c.monthView.weeks.1.0.date, format:\'n\')}')} {f:format.date(date:c.monthView.weeks.1.0.date, format:'Y')}</h2>
									</div>
									<div class="cell shrink text-right">
										<h2><a href="{c.monthView.nextMonth}" class="modal-reload" title="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.nextMonth')}"><i class="fa fa-chevron-right"></i></a>
										</h2>
									</div>
								</div>
								<div class="grid-x small-up-7">
									<div class="cell text-center">
										<f:translate
											key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.1"/>
									</div>
									<div class="cell text-center">
										<f:translate
											key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.2"/>
									</div>
									<div class="cell text-center">
										<f:translate
											key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.3"/>
									</div>
									<div class="cell text-center">
										<f:translate
											key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.4"/>
									</div>
									<div class="cell text-center">
										<f:translate
											key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.5"/>
									</div>
									<div class="cell text-center">
										<f:translate
											key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.6"/>
									</div>
									<div class="cell text-center">
										<f:translate
											key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.0"/>
									</div>
								</div>
							</div>

							<div class="bw_bookingmanager__calendarMonth__body grid-y">
								<f:for each="{c.monthView.weeks}" as="week">
									<div class="grid-x small-up-7 cell auto bw_bookingmanager__week">
										<f:for each="{week}" as="day">

											<f:comment>
												CREATE CSS CLASSES
											</f:comment>
											<f:variable name="isInThisDay" value=""/>
											<f:variable name="isCurrentDay" value=""/>
											<f:variable name="isInPast" value=""/>

											<f:for each="{day.timeslots}" as="timeslot">
												<f:variable name="timeslot">{c.monthView.timeslots.{timeslot}}</f:variable>
												<f:if condition="{currentStartEndTimestamp}=={timeslot.startEndTimestamp}">
													<f:variable name="isInThisDay"
																value="bw_bookingmanager__day--isSelectedDay"/>
												</f:if>
											</f:for>
											<f:if condition="{day.isCurrentDay}">
												<f:variable name="isCurrentDay" value="bw_bookingmanager__day--isCurrentDay" />
											</f:if>
											<f:if condition="{day.isInPast}">
												<f:variable name="isInPast" value="bw_bookingmanager__day--isInPast"/>
											</f:if>

											<f:if condition="{day.timeslots->f:count()}==0">
												<div
													class="cell grid-x align-middle align-center bw_bookingmanager__day {isCurrentDay} {f:if(condition:day.isNotInMonth, then:'bw_bookingmanager__day--notInMonth')} {isInPast}">
													{f:format.date(date:day.date, format:'j')}
												</div>
											</f:if>

											<f:if condition="{day.timeslots->f:count()}">

												<f:if condition="{day.isBookable}">
													<f:then>
														<a
															href="#"
															class="cell grid-x align-middle align-center bw_bookingmanager__day bw_bookingmanager__day--link bw_bookingmanager__day--link bw_bookingmanager__ajaxLink {isCurrentDay} {isInThisDay}"
															data-day-detail="calendar{c.calendar.uid}-daydetail{f:format.date(date:day.date, format:'d-m-y')}">
															{f:format.date(date:day.date, format:'j')}
														</a>
													</f:then>
													<f:else>
														<div
															class="cell grid-x align-middle align-center bw_bookingmanager__day bw_bookingmanager__day--full {isCurrentDay} {isInPast} {isInThisDay}"
															data-day-detail="calendar{c.calendar.uid}-daydetail{f:format.date(date:day.date, format:'d-m-y')}">
															{f:format.date(date:day.date, format:'j')}
														</div>
													</f:else>
												</f:if>
											</f:if>

										</f:for>
									</div>
								</f:for>
							</div>

						</div>

						<div class="calendar-view calendar-view--list">

							<f:for each="{c.monthView.days}" as="day">

								<f:variable name="isInThisDay" value=""/>
								<f:variable name="isCurrentDay" value=""/>
								<f:variable name="isInPast" value=""/>
								<f:variable name="hasNoSlot" value=""/>

								<f:for each="{day.timeslots}" as="timeslot">
									<f:variable name="timeslot">{c.monthView.timeslots.{timeslot}}</f:variable>
									<f:if condition="{currentStartEndTimestamp}=={timeslot.startEndTimestamp}">
										<f:variable name="isInThisDay"
												value="bw_bookingmanager__day--isSelectedDay"/>
									</f:if>
								</f:for>
								<f:if condition="{day.isCurrentDay}">
									<f:variable name="isCurrentDay" value="bw_bookingmanager__day--isCurrentDay"/>
								</f:if>
								<f:if condition="{day.isInPast}">
									<f:variable name="isInPast" value="bw_bookingmanager__day--isInPast"/>
								</f:if>
								<f:if condition="{day.timeslots->f:count()}==0">
									<f:variable name="hasNoSlot" value="bw_bookingmanager__day--isInPast"/>
								</f:if>



									<f:if condition="{day.isBookable}">
										<f:then>
											<a
													href="#"
													class="{isCurrentDay} {isInThisDay} bw_bookingmanager__day bw_bookingmanager__day--list bw_bookingmanager__day--link"
													data-day-detail="calendar{c.calendar.uid}-daydetail{f:format.date(date:day.date, format:'d-m-y')}">
												{f:format.date(date:day.date, format:'j.')}
												{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.monthNames.{f:format.date(date:day.date, format:\'n\')}')} {f:format.date(date:day.date, format:'Y')}
											</a>
										</f:then>
										<f:else>
											<div
													class="bw_bookingmanager__day bw_bookingmanager__day--list bw_bookingmanager__day--full {isCurrentDay} {isInPast} {hasNoSlot}"
													data-day-detail="calendar{c.calendar.uid}-daydetail{f:format.date(date:day.date, format:'d-m-y')}">
												{f:format.date(date:day.date, format:'j.')}
												{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.monthNames.{f:format.date(date:day.date,
												format:\'n\')}')} {f:format.date(date:day.date, format:'Y')}
											</div>
										</f:else>
									</f:if>


							</f:for>

						</div>

					</div>

				</f:for>
			</div>

			<div class="col-xs-12 col-md-3">
				<h2>&nbsp;</h2>
				<f:for each="{calendars}" as="c" iteration="i">

					<div id="calendar-tab-{c.calendar.uid}" class="calendar-tab {f:if(condition:'{c.calendar.uid}=={currentCalendar}', then:'active')}">

						<f:for each="{c.monthView.days}" as="day">

							<f:variable name="isInThisDay" value=""/>
							<f:for each="{day.timeslots}" as="timeslot">
								<f:variable name="timeslot">{c.monthView.timeslots.{timeslot}}</f:variable>
								<f:if condition="{currentStartEndTimestamp}=={timeslot.startEndTimestamp}">
									<f:variable name="isInThisDay"
												value="active daydetail--blue"/>
								</f:if>
							</f:for>

							<div class="daydetail {isInThisDay}" id="calendar{c.calendar.uid}-daydetail{f:format.date(date:day.date, format:'d-m-y')}">
								<h3>{f:format.date(date:day.date, format:'d.m.Y')}</h3>
								<p>{day.timeslots->f:count()} Timeslots:</p>

								<f:for each="{day.timeslots}" as="timeslot">
									<f:variable name="timeslot">{c.monthView.timeslots.{timeslot}}</f:variable>
									<div class="daydetail__timeslot">
										<f:if condition="{timeslot.isBookable} || {currentStartEndTimestamp}=={timeslot.startEndTimestamp}">
											<f:then>
												<a
														href="#"
														class="calendar-data-link {f:if(condition:'{currentStartEndTimestamp}=={timeslot.startEndTimestamp}', then:'active saved-active')}"
														data-calendar="{c.calendar.uid}"
														data-timeslot="{timeslot.uid}"
														data-start-date="{timeslot.startDate.timestamp}"
														data-end-date="{timeslot.endDate.timestamp}"
														data-start-date-text="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.{f:format.date(date:timeslot.displayStartDate, format:\'N\')}')}, {f:format.date(date: timeslot.displayStartDate, format:'d.m.Y H:i')}"
														data-end-date-text="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.{f:format.date(date:timeslot.displayEndDate,
			format:\'N\')}')}, {f:format.date(date: timeslot.displayEndDate, format:'d.m.Y H:i')}"
														data-day-link="calendar{c.calendar.uid}-daydetail{f:format.date(date:day.date, format:'d-m-y')}">
													<i class="fa fa-circle-o" aria-hidden="true"></i><i
														class="fa fa-check-circle" aria-hidden="true"></i>
													{f:format.date(date:timeslot.displayStartDate, format:'H:i')} -
													{f:format.date(date:timeslot.displayEndDate, format:'H:i')}
													({timeslot.bookedWeight}/{timeslot.maxWeight})
												</a>
											</f:then>
											<f:else>
												<div class="calendar-link-full {f:if(condition:'{currentStartEndTimestamp}=={timeslot.startEndTimestamp}', then:'active saved-active')}">
													<i class="fa fa-times" aria-hidden="true"></i></i><i
														class="fa fa-check-circle" aria-hidden="true"></i>
													{f:format.date(date:timeslot.displayStartDate, format:'H:i')} -
													{f:format.date(date:timeslot.displayEndDate, format:'H:i')}
													({timeslot.bookedWeight}/{timeslot.maxWeight})
												</div>
											</f:else>
										</f:if>

									</div>
								</f:for>

							</div>

						</f:for>

					</div>

				</f:for>
			</div>
		</div>
</f:section>

</html>
