<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
<f:layout name="Administration/Default"/>

<f:section name="Main">

	<f:if condition="{savedData.startDate} && {savedData.endDate}">
		<f:then>
			{f:format.date(date:savedData.startDate, format:'d.m.Y H:i')} - {f:format.date(date:savedData.endDate,
			format:'d.m.Y H:i')}
		</f:then>
		<f:else>
			No time selected
		</f:else>
	</f:if>


		<button class="btn btn-default t3js-timeslotdatesselect-trigger"
						data-wizard-uri="{wizardUri}"
						data-severity="notice"
						data-modal-title="{f:if(condition:savedData.startDate, else:'Select time', then:'Selected time: {f:format.date(date:savedData.startDate, format:\'d.m.Y H:i\')} - {f:format.date(date:savedData.endDate,
			format:\'d.m.Y H:i\')}')}"
						data-modal-save-button-text="Save"
						data-modal-view-button-text="List view"
						data-modal-cancel-button-text="Cancel"
						data-current-calendar="{savedData.calendar}"
						data-current-timeslot="{savedData.timeslot}">
			<span class="t3-icon fa fa-calendar"></span>
			Select time
		</button>

</f:section>
</html>
