<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
	<f:flashMessages/>

	<ul class="tx-bw-bookingmanager-calendar-list">
		<f:for each="{calendars}" as="calendar">
			<li>
				<h2>{calendar.name}</h2>
				<booking-calendar url="{f:uri.action(action:'calendarShow', pageType: '1556190329', controller: 'ApiV2', arguments: {calendar: calendar}, absolute: 'true')}"></booking-calendar>
			</li>
		</f:for>
	</ul>

	<booking-times></booking-times>

	<booking-form>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi architecto at atque consequuntur dolor enim eos, et facere fugiat harum maiores minima neque quasi quis sed tenetur, veniam voluptatum?</p>
	</booking-form>

</f:section>
</html>
