<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Single View for Calendar</h1>

<f:alias map="{months: {0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10, 10:11, 11:12}}">
  <f:for each="{months}" as="month">
    <f:link.action action="show" arguments="{calendar: calendar, day: '1', month: month, year: '2018'}">01.{month}.2018</f:link.action><br />
  </f:for>
</f:alias>

<table>
  <thead>
      <tr>
        <th>UID</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Repeat type</th>
        <th>Entries (weight)</th>
        <th>Calendar UIDs</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
    <f:for each="{timeslots}" as="slot">
      <tr>
        <td>{slot.uid}</td>
        <td>{f:format.date(date: slot.startDate, format:'d.m.y h:m:s')}</td>
        <td>{f:format.date(date: slot.endDate, format:'d.m.y h:m:s')}</td>
        <td>{slot.repeatType}</td>
        <td>{slot.entries->f:count()} ({slot.bookedWeight})</td>
        <td><f:for each="{slot.calendars}" as="cal">{cal.uid}&nbsp;</f:for></td>
        <td>
          <f:if condition="{slot.isBookable}">
            <f:link.action controller="Entry" action="new" arguments="{calendar: calendar, timeslot: slot, start: '{f:format.date(date: slot.startDate, format:\'Y-m-d H:m:s\')}', end: '{f:format.date(date: slot.endDate, format:\'Y-m-d H:m:s\')}'}">book</f:link.action></td>
          </f:if>
        </td>
      </tr>
    </f:for>
  </tbody>
</table>


<f:flashMessages />
<f:render partial="Calendar/Properties" arguments="{calendar:calendar}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New Calendar</f:link.action>
	</f:section>
</html>