<f:if condition="{newEntry.startDate}">
	<f:then>
		<f:form.hidden property="startDate" value="{newEntry.startDate.timestamp}"/>
	</f:then>
	<f:else>
		<label for="startDate">
			<f:translate key="tx_bwbookingmanager_domain_model_entry.start_date"/>
			<f:form.textfield property="startDate" id="startDate" />
			<button id="convertStartDate">convert to timestamp</button>
		</label>

		<script type="text/javascript">
			document.getElementById("convertStartDate").addEventListener('click', function (e) {
				e.preventDefault();
				var dateString = document.getElementById("startDate").value;
				var unixDate = new Date(dateString);
				document.getElementById("startDate").value = unixDate.getTime() / 1000;
			});
		</script>
	</f:else>
</f:if>
