<table border="1">
	<thead>
	<tr>
		<td>
			<f:link.action title="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.prevMonth')}"
										 class="button"
										 controller="Calendar"
										 action="show"
										 arguments="{calendar: calendar, day: configuration.prev.day, month: configuration.prev.month, year: configuration.prev.year}">
				prev month
			</f:link.action>
		</td>
		<td colspan="5">
			<h2 class="text-center">
				<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.monthNames.{f:format.date(date:configuration.weeks.10.date, format:'n')}"/>
				{f:format.date(date:configuration.days.10.date, format:'Y')}
			</h2>
		</td>
		<td>
			<f:link.action title="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.nextMonth')}"
										 class="button"
										 controller="Calendar"
										 action="show"
										 arguments="{calendar: calendar, day: configuration.next.day, month: configuration.next.month, year: configuration.next.year}">
				next month
			</f:link.action>
		</td>
	</tr>

	<tr>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.1"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.2"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.3"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.4"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.5"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.6"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.0"/>
		</th>
	</tr>
	</thead>
	<tbody>
	<f:for each="{configuration.weeks}" as="week">
		<tr>
			<f:for each="{week}" as="day">
				<f:variable name="day">{configuration.days.{day}}</f:variable>
				<td>
					<f:if condition="{day.isNotInMonth}">
						<f:then>

						</f:then>
						<f:else>
							<h3>{f:format.date(date:day.date, format:'j')}</h3>
							<ul>
								<f:if condition="{day.isSelectedDay}">
									<strong>selected day</strong>
								</f:if>
								<f:for each="{day.timeslots}" as="timeslot">
									<f:variable name="timeslot">{configuration.timeslots.{timeslot}}</f:variable>
									<li>{f:format.date(date:timeslot.displayStartDate, format:'H:i')} - {f:format.date(date:timeslot.displayEndDate,
										format:'H:i')}
										<p>({timeslot.bookedWeight}/{timeslot.maxWeight} booked)</p>
										<f:if condition="{timeslot.isBookable}">
											<f:link.action controller="Entry"
																		 pageUid="{settings.entryPid}"
																		 action="new"
																		 arguments="{calendar: calendar, timeslot: timeslot.uid, start: timeslot.startDate, end: timeslot.endDate}">
												book
											</f:link.action>
										</f:if>
									</li>
								</f:for>
							</ul>
							<f:if condition="{day.isBookable}">
								<f:if condition="{day.isDirectBookable}">
									<f:link.action controller="Entry"
																 pageUid="{f:if(condition:settings.entryPid, then:settings.entryPid)}"
																 action="new"
																 arguments="{calendar: calendar, start: day.date}">
										direct booking
									</f:link.action>
								</f:if>
							</f:if>
						</f:else>
					</f:if>
				</td>
			</f:for>
		</tr>
	</f:for>
	</tbody>
</table>
