<table border="1">
	<thead>
	<tr>
		<td>
			<f:link.action title="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.prevMonth')}"
										 class="button"
										 action="show"
										 arguments="{calendar: calendar, day: configuration.prev.day, month: configuration.prev.month, year: configuration.prev.year}">
				prev month
			</f:link.action>
		</td>
		<td colspan="5">
			<h2 class="text-center">
				<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.monthNames.{f:format.date(date:configuration.weeks.1.0.date, format:'n')}"/>
				{f:format.date(date:configuration.weeks.1.0.date, format:'Y')}
			</h2>
		</td>
		<td>
			<f:link.action title="{f:translate(key:'LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.nextMonth')}"
										 class="button"
										 action="show"
										 arguments="{calendar: calendar, day: configuration.next.day, month: configuration.next.month, year: configuration.next.year}">
				next month
			</f:link.action>
		</td>
	</tr>

	<tr>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.1"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.2"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.3"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.4"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.5"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.6"/>
		</th>
		<th>
			<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.0"/>
		</th>
	</tr>
	</thead>
	<tbody>
	<f:for each="{configuration.weeks}" as="week">
		<tr>
			<f:for each="{week}" as="day">
				<td>
					<f:if condition="{day.isNotInMonth}">
						<f:then>

						</f:then>
						<f:else>
							<h3>{f:format.date(date:day.date, format:'j')}</h3>
							<ul>
								<f:for each="{day.timeslots}" as="timeslot">
									<li>{f:format.date(date:timeslot.startDate, format:'H:i')} - {f:format.date(date:timeslot.endDate,
										format:'H:i')}
										<p>{timeslot.bookedWeight} / {timeslot.maxWeight} booked</p>
										<f:if condition="{timeslot.isBookable}">
											<f:link.action controller="Entry"
																		 pageUid="{f:if(condition:settings.entryPid, then:settings.entryPid, else:page)}"
																		 pageType="{f:if(condition:settings.ajax.enable, then:settings.ajax.typeNum, else:0)}"
																		 class="bw_bookingmanager__ajaxLink"
																		 data="{ajax-container:'bw_bookingmanager__newEntry'}"
																		 action="new"
																		 arguments="{calendar: calendar, timeslot: timeslot, start: timeslot.startDate.timestamp, end: timeslot.endDate.timestamp}">
												book
											</f:link.action>
										</f:if>
									</li>
								</f:for>
							</ul>
							<f:if condition="{day.isDirectBookable}">
								<f:link.action controller="Entry"
															 pageUid="{f:if(condition:settings.entryPid, then:settings.entryPid)}"
															 action="new"
															 arguments="{calendar: calendar, start: day.date.timestamp}">
									direct booking
								</f:link.action>
							</f:if>
						</f:else>
					</f:if>
				</td>
			</f:for>
		</tr>
	</f:for>
	</tbody>
</table>
