@media print {
	body{
		overflow: visible;
		height: auto;
	}
	.module-docheader,
	.module-loading-indicator,
	#setting-container {
		display: none;
	}
	.module-body {
		height: auto;
		padding: 0;
	}
	a.btn, .col-icon, img, icon-markup, .panel-heading {
		display: none !important;
	}
	.recordlist {
		border: 0;
		box-shadow: none;
	}
	.recordlist table tr td{
		box-shadow: none;
	}
}
