<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-bw-bookingmanager" >
	<tr>
		<td>
			<f:translate key="tx_bwbookingmanager_domain_model_timeslot.start_date" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bwbookingmanager_domain_model_timeslot.end_date" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bwbookingmanager_domain_model_timeslot.repeat_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bwbookingmanager_domain_model_timeslot.max_weight" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>