

	<span class="savedDate" style="float: left; margin-right: 10px;">
		<span id="savedStartDate">
			<f:if condition="{savedData.startDate}">
				<f:then>
					<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.{f:format.date(date:savedData.endDate,
				format:'N')}"/>., {f:format.date(date:savedData.startDate, format:'d.m.Y, H:i')}
				</f:then>
				<f:else>
					<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:tx_bwbookingmanager_domain_model_entry.date.none"/>
				</f:else>
			</f:if>
		</span> - <br />
		<span id="savedEndDate">
			<f:if condition="{savedData.endDate}">
				<f:translate key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:date.dayNames.short.{f:format.date(date:savedData.endDate,
				format:'N')}"/>., {f:format.date(date:savedData.endDate, format:'d.m.Y, H:i')}
			</f:if>
		</span>
	</span>

	<button id="entry-date-select-button"
					class="btn btn-default t3js-timeslotdatesselect-trigger"
					data-view-state="{viewState}"
					data-modal-title="{f:if(condition:savedData.startDate, else:'Select time', then:'Selected time: {f:format.date(date:savedData.startDate, format:\'d.m.Y H:i\')} - {f:format.date(date:savedData.endDate,
		format:\'d.m.Y H:i\')}')}"
					data-entry-uid="{savedData.entryUid}"
					data-default-start-date="{savedData.startDate}"
					data-default-end-date="{savedData.endDate}">
			<span class="t3-icon fa fa-calendar"></span>
		<f:translate
			key="LLL:EXT:bw_bookingmanager/Resources/Private/Language/locallang_db.xlf:tx_bwbookingmanager_domain_model_entry.date.select"/>
	</button>

